#about-page {
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
    display: none;
}

.bio-container {
    background-color:rgb(255, 255, 255, 0.6);
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: #b86464;
    padding: 10px;
    width: calc(100% - 30px);
    min-height: calc(100vh - 60px);
    float: left;
}

.bio-image {
    max-width: 200px;
    margin: 20px calc(50% - 100px);
}




.checkout-container {
    margin: 0 auto;
    text-transform: lowercase;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    font-size: 0.9em;
}

.checkout-description {
    color: grey;
}

.checkout-container hr {
    max-width: 75%;
}



.about-section-content {
    font-size: 0.9em;
    display: none;
    color: var(--dark-grey);
    overflow: hidden;
}


.about-section:nth-child(2) {
    border-top: 2px solid grey;
}

.about-section {
    position: relative;
    padding: 10px;
    border-radius: 0px;

    border-bottom: 2px solid grey;
    
    background:rgba(153, 153, 153, 0.35);
    background: rgb(255, 255, 255, 0.5);
}

.about-section * {
    border-radius: none;
}

.about-section button {
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.about-section button:hover {
    opacity: 1;
}

.click-hide {
    pointer-events:none;
    position: absolute;
    right: 10px;
    font-size: 0.5em;
    top: 12px;
}