#about-page {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1000px;
}

.bio-container {
    background-color:rgba(153, 153, 153, 0.35);
    border-left: 5px solid #b86464;
    border-radius: 5px;
    padding: 10px;
    max-width: 800px;
    float: left;
}

.bio-image {
    width: 300px;
    float: left;
    margin: 10px;
    margin-top: 0px;
}

.bio-text-container {
    color: var(--dark-grey);
}



.pdf-container {
    width: 100px;
    margin: 10px;
    float: left;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.pdf-container:hover {
    opacity: 1;
}

.pdf-container img {
    margin: 10px 25px;
    width: 50px;
}

.pdf-container p {
    margin: 0px;
    text-align: center;
}