#in-progress-page {
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
    padding: 5px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#in-progress-page a {
    color: rgb(0, 46, 145) !important;
    opacity: 0.7 !important;
    transition: opacity 0.2s;
}

.in-progress-projects {
    padding: 5px;
}

.in-progress-projects>div {
    border-radius: 3px;
    border-left: 5px solid rgb(170, 73, 73);
    padding: 0 5px;
    background-color: rgba(35, 35, 35, 0.1);
}

#in-progress-page button {
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 1em;
}

#in-progress-page button img {
    opacity: 0.3;
    transition: opacity 0.5s;
}

#in-progress-page button img:hover {
    opacity: 0.6;
}

.project-icon {
    display: inline;
    list-style-type: none;
    float: left;
    margin: 5px;
    width: 250px;
    height: 250px;
    position: relative;
    text-align: center;
    padding: 0;
    background-color: rgb(37, 2, 2);
}

.in-progress-project-icon-container {
    padding: 0px;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.centered-icon-text {
    z-index: 1;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    opacity: 1;
}

.project-icon-img {
    object-fit: cover
}

.project-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#kiwi-game img {
    image-rendering: pixelated
}

.in-progress-project {
    display: none
}